<div>
    <div class="font-l text-center space l top">Join to the battle!</div>
    <div class="form-wrapper space l top">
        <form class="form" name="form">
            <div class="form-control-box space m bottom">
                <span class="icon-user-2 icon-s"></span>
                <input type="text" class="font-s form-control" placeholder="Nickname"
                       data-ng-model="loginData.userName" required autofocus>
            </div>
            <button type="submit" class="form-button font-s pull-right space m top" ng-disabled="form.$invalid"
                    data-ng-click="connectUser()">Ready
            </button>
            <span ng-if="authenticating" class="icon-loading32 space m top right pull-right"></span>

            <div data-ng-hide="message == ''" class="font-s alert clear-all">
                {{message}}
            </div>
        </form>
    </div>
</div>