<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights schemaVersion="2014-05-30" xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'SpaceInvaders.Website' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>4654be59-1738-47d5-85ca-e9b0352e998b</InstrumentationKey>
</ApplicationInsights>